$blur: blur(40px) saturate(1.3);
$blue: #007bec;
$bluehov: #0084ff;
$gray: #ECECEC;
$green: #4CE426;
$error: #a81313;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* HEADER */
html{
  height: 100%;
}
body{
  background-color: #F8F8F8;
  height: 100%;
  &.scoll-disable{
    overflow: hidden;
  }
}
body.admin-bar .site-header{
  top: 32px;
}
a{
  color: $blue;
  &:hover{
    text-decoration: underline;
  }
}
.button,
.button.button-primary,
body.woocommerce .button,
body.woocommerce .button.button-primary,
.woocommerce-table .download-file .woocommerce-MyAccount-downloads-file.button,
.shop_table .woocommerce-button.button{
  border: none;
  width: 100%;
  text-align: center;
  background-color: $blue;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  &:hover{
    background-color: $bluehov;
    color: #fff;
  }
}
.button-delete,
body.woocommerce .button-delete{
  text-decoration: none;
  cursor: pointer;
  &.empty-cart-button{
    display: block;
    margin-top: 5px;
    text-decoration: none;
    background-color: #bc1c1c;
    &:hover{
      background-color: #f00;
    }
  }
}
.site-header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 64px;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.75);
  backdrop-filter: $blur;
  padding: 12px 15px;
  z-index: 99;
  // @media (prefers-color-scheme: dark){
  //   background-color: rgba(46,46,46,.7);
  // }
  .logo{
    width: 33.3333%;
    line-height: normal;
    font-size: 0;
    a{
      display: inline-block;
      line-height: normal;
      font-size: 0;
      text-decoration: none;
    }
  }
  .search,
  .account{
    width: 33.3333%;
    line-height: normal;
    font-size: 0;
  }
  .search form{
    display: block;
    position: relative;
    input{
      border: none;
      background-color: rgba(255,255,255,.5);
      padding: 5px 36px 5px 10px;
      border-radius: 6px;
      width: 100%;
      box-shadow: 0px 5px 10px rgba(0,0,0,.05);
      transition: all .3s;
      outline: none;
      &:focus{
        background-color: rgba(255,255,255,.7);
        box-shadow: 0px 5px 15px rgba(0,0,0,.15);
      }
    }
    button{
      display: inline-block;
      position: absolute;
      padding: 0;
      border: none;
      top: 9px;
      right: 10px;
      opacity: .3;
      background-color: transparent;
      cursor: pointer;
      transition: all .1s;
      text-decoration: none;
      z-index: 1;
      &:hover{
        opacity: 1;
      }
    }
  }
  .account{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    a{
      display: inline-block;
      font-size: 14px;
      background-color: rgba(255,255,255,.3);
      border-radius: 6px;
      padding: 8px 20px;
      color: $blue;
      font-weight: 500;
      margin-right: 10px;
      transition: all .2s;
      text-decoration: none;
      &:hover{
        background-color: $blue;
        color: #fff;
      }
    }
    img{
      width: 40px;
      height: 40px;
      border-radius: 100%;
      object-fit: cover;
    }
  }
}

/* HOME BACKGROUND */
img.home_background{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ASIDE SIDEBAR */
body.admin-bar .sidebar{
  top: 96px;
}
.sidebar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  position: fixed;
  width: 64px;
  height: calc(100% - 64px);
  top: 64px;
  left: 0;
  background-color: #fff;
  padding: 15px;
  z-index: 99;
  ul{
    display: block;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
      display: block;
      position: relative;
      margin-top: 10px;
      margin-bottom: 15px;
      a{
        opacity: 0.4;
        text-decoration: none;
      }
      &:hover a{
        opacity: 1;
      }
      a,
      a svg,
      a svg path{
        transition: all .1s;
        text-decoration: none;
      }
      &.current-menu-item a{
        opacity: 1;
        text-decoration: none;
      }
      &.current-menu-item a svg,
      &.current-menu-parent a svg{
        filter: drop-shadow( 0px 0px 10px $blue);
      }
      &.current-menu-item a svg path,
      &.current-menu-parent a svg path{
        fill: $blue;
      }
      &.current_page_item a,
      &.current-menu-parent a{
        opacity: 1;
        svg{
          filter: drop-shadow( 0px 0px 10px $blue);
          path{
            stroke: $blue;
          }
        }
      }
      &.current-menu-parent a svg path{
        stroke: none;
      }
      &.nofill.current_page_item a svg path,
      &.nofill a:active svg path{
        stroke: $blue;
        fill: none;
      }
      a:active svg path{
        fill: $blue;
      }
      ul.sub-menu{
        display: block;
        position: absolute;
        width: 200px;
        height: auto;
        top: -10px;
        left: calc(100% + 20px);
        background-color: #fff;
        box-shadow: 5px 0px 10px rgba(0,0,0,.02);
        padding: 5px;
        transition: all .1s;
        opacity: 0;
        visibility: hidden;
        transform: translateX(5px);
        &::before{
          content: '';
          display: block;
          position: absolute;
          width: 20px;
          height: 100%;
          top: 0;
          left: -20px;
          z-index: 1;
        }
        li{
          display: block;
          position: relative;
          margin: 0;
          a{
            display: block;
            position: relative;
            text-align-last: left;
            font-size: 12px;
            font-weight: 500;
            padding: 6px 10px;
            color: #000;
            transition: all 0s;
            opacity: 1;
            text-decoration: none;
            &:hover{
              color: $blue;
            }
          }
        }
      }
      &:hover ul.sub-menu{
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
      }
    }
    &.aside_bottom li{
      margin-bottom: 0px;
      a{
        opacity: 1;
        text-decoration: none;
      }
    }
    &.cart_list li a{
      position: relative;
      opacity: 1;
      &.active{
        svg{
          opacity: 1;
          path{
            fill: $blue;
          }
        }
      }
      span.quick_cart_count{
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 100px;
        opacity: 1;
        font-size: 11px;
        font-weight: 400;
        color: #fff;
        background-color: #f00;
        top: -3px;
        right: -3px;
        z-index: 1;
      }
      svg{
        width: 22px;
        height: 22px;
        opacity: .4;
      }
    }
  }
}

/* HERO SECTION */
.hero{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(100% - 64px);
  height: 560px;
  margin-top: 64px;
  margin-left: 64px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,.4);
  h1{
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  h3{
    font-size: 32px;
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .cta_button{
    display: block;
    position: relative;
    text-align: center;
    a{
      display: inline-block;
      background-color: rgba(255,255,255,.35);
      backdrop-filter: $blur;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0,0,0,.2);
      font-weight: 500;
      border-radius: 6px;
      padding: 6px 30px;
      border: 1px solid rgba(255,255,255,.05);
      transition: all .1s;
      text-decoration: none;
      &:hover{
        background-color: #fff;
        text-shadow: none;
        color: $blue;
      }
    }
  }
}

/* MAIN CONTENT */
main.main{
  display: block;
  position: relative;
  width: calc(100% - 64px);
  height: auto;
  margin-left: 64px;
  .home_section_title{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-size: 28px;
    margin-top: 0;
    font-weight: 600;
    &.small_title{
      font-size: 20px;
      a{
        padding: 0;
        background-color: transparent;
        text-decoration: none;
        &:hover{
          background-color: transparent;
          text-decoration: underline;
          color: $blue;
        }
      }
    }
    a{
      font-size: 13px;
      display: inline-block;
      border-radius: 100px;
      background-color: rgba(255,255,255,.3);
      padding: 4px 10px;
      margin-right: 15px;
      color: $blue;
      text-decoration: none;
      &:hover{
        background-color: $blue;
        color: #fff;
      }
    }
  }
  .fresh_releases{
    padding: 20px;
    background-image: linear-gradient(rgba(248,248,248,.5), #F8F8F8);
    backdrop-filter: $blur;
    min-height: 300px;
    .fresh_releases_list{
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: flex-start;
      .fresh_item{
        display: flex;
        width: calc(20% - 15px);
        height: auto;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 5px 10px rgba(0,0,0,.1);
        margin-right: 15px;
        padding: 15px;
        transition: all .2s;
        &:hover{
          box-shadow: 0px 10px 40px rgba(0,0,0,0.2);
        }
        a{
          display: flex;
          flex-wrap: wrap;
          align-content: space-between;
          text-decoration: none;
          img{
            border-radius: 8px;
          }
          h4{
            display: block;
            width: 100%;
            color: #000;
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            margin-top: 10px;
          }
          span.price{
            width: 100%;
            display: block;
            text-align: center;
            font-size: 24px;
            color: rgb(41, 211, 112);
          }
          button{
            border: none;
            width: 100%;
            text-align: center;
            background-color: $gray;
            color: $blue;
            font-size: 15px;
            font-weight: 600;
            line-height: 15px;
            padding: 10px;
            margin-top: 10px;
            border-radius: 6px;
            cursor: pointer;
            &:hover{
              background-color: $blue;
              color: #fff;
            }
          }
        }
        &:last-child{
          margin-right: 0px;
        }
      }
    }
  }
  .other_content{
    background-color: #F8F8F8;
    padding: 20px;
    min-height: 200px;
    .free_items{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      justify-content: flex-start;
      margin-top: 30px;
      .free_item{
        display: block;
        width: 20%;
        a{
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: space-between;
          padding: 10px;
          margin-right: 10px;
          border-radius: 6px;
          box-shadow: 0px 5px 10px rgba(0,0,0,.1);
          overflow: hidden;
          transition: all .15s;
          text-decoration: none;
          &:hover{
            box-shadow: 0px 5px 15px rgba(0,0,0,.2),
            inset 0px 0px 0px 1px rgba(0,0,0,.05);
          }
          img{
            width: 70px;
            height: 70px;
            border-radius: 6px;
          }
          .free_item_meta{
            display: block;
            width: calc(100% - 70px);
            padding-left: 10px;
            h4{
              width: calc(100% - 5px);
              margin: 5px 0 0 0;
              color: #000;
              font-size: 13px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            span.free_item_cat{
              display: block;
              font-size: 12px;
              color: $blue;
              font-weight: 500;
            }
            .free_item_download{
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-end;
              width: calc(100% - 10px);
              margin-top: 5px;
              svg{
                width: 14px;
                height: auto;
                opacity: .3;
                &:hover{
                  opacity: 1;
                  path{
                    fill: $blue;
                  }
                }
              }
            }
          }
        }
      }
    }
    .all_categories{
      padding-right: 10px;
      .category_item{
        border-radius: 6px;
        // border: 1px solid #ccc;
        background-color: $gray;
        font-weight: 600;
        margin: 20px 6px;
        box-shadow: 0px 3px 5px rgba(0,0,0,.1);
        transition: all .2s;
        &:hover{
          background-color: $blue;
          a h4{
            color: #fff;
          }
          a svg path{
            fill: #fff;
          }
        }
        a{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;
          padding: 20px;
          color: $blue;
          text-decoration: none;
          svg{
            width: 30px;
            height: 30px;
            path{
              fill: $blue;
            }
          }
          h4{
            width: calc(100% - 30px);
            padding-left: 10px;
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            line-height: none;
          }
        }
      }
    }
    .featured{
      display: block;
      position: relative;
      margin-top: 40px;
      margin-bottom: 60px;
      padding-right: 15px;
      .banner_slide{
        display: block;
        position: relative;
        a{
          display: inline-block;
          text-decoration: none;
          img{
            border-radius: 20px;
          }
        }
      }
      button.owl-prev,
      button.owl-next{
        position: absolute;
        top: calc(50% - 60px);
        background-color: transparent;
        border: none;
        padding: 0;
        img{
          width: 12px;
          height: 80px;
          filter: invert(100%);
          opacity: .5;
          transition: all .2s;
        }
        &:hover img{
          opacity: 1;
        }
      }
      button.owl-prev{
        left: 10px;
        img{
          transform: rotate(-180deg);
        }
      }
      button.owl-next{
        right: 10px;
      }
      .owl-theme .owl-dots{
        margin-top: 20px;
        .owl-dot.active span,
        .owl-dot:hover span{
        background: $blue;
      }
      }
    }
    .latest_reviews{
      display: flex;
      flex-wrap: wrap;
      position: relative;
      margin-top: 60px;
      .review_card{
        display: flex;
        flex-wrap: wrap;
        width: calc(25% - 10px);
        margin-right: 10px;
        background-color: #fff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0px 3px 5px rgba(0,0,0,.05);
        .avatar{
          width: 60px;
          height: 60px;
          img{
            border-radius: 100%;
            width: 60px;
            height: 60px;
            object-fit: cover;
            &.no_avatar{
              filter: grayscale(10%);
              opacity: .5;
            }
          }
        }
        .reviewer_meta{
          width: calc(100% - 60px);
          padding-left: 10px;
          h4{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 5px;
            margin-bottom: 3px;
            color: #000;
            font-weight: 600;
            font-size: 14px;
            line-height: normal;
            span{
              color: #ccc;
              font-weight: 400;
              font-size: 13px;
            }
          }
          .review_source{
            display: block;
            position: relative;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            a{
              font-size: 13px;
              color: $blue;
              line-height: normal;
              text-decoration: none;
              &:hover{
                text-decoration: underline;
              }
            }
          }
          p{
            display: block;
            color: #999;
            font-size: 13px;
            font-weight: 300;
            margin: 5px 0 0 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
}

/* FOOTER */
.footer{
  display: block;
  position: sticky;
  background-color: #F8F8F8;
  width: calc(100% - 64px);
  margin-left: 64px;
  color: #999;
  padding: 20px;
  font-size: 14px;
  padding-top: 60px;
  top: 100%;
  .footer_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .footer_left,
    .footer_right{
      width: 25%;
    }
    .footer_middle{
      width: 50%;
    }
    .footer_right{
      text-align: right;
      padding-right: 10px;
      font-size: 13px;
      a{
        color: $blue;
        text-decoration: none;
        &:hover{
          display: inline-block;
          text-decoration: underline;
        }
      }
      p{
        font-size: 13px;
      }
    }
    .footer_column{
      position: relative;
      a{
        display: inline-block;
        text-decoration: none;
        img.logo{
          width: auto;
          height: 20px;
          filter: brightness(0);
          opacity: .5;
        }
        &:hover img{
          opacity: 1;
        }
      }
      p{
        font-size: 12px;
      }
      h4{
        margin-top: 0;
        font-weight: 600;
        margin-bottom: 10px;
      }
      ul{
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
          &:last-child span.delimiter{
            display: none;
          }
          a{
            color: #999;
            font-size: 13px;
            text-decoration: none;
            &:hover{
              color: #000;
              text-decoration: underline;
            }
          }
          span.delimiter{
            display: inline-block;
            margin: 0 5px;
            font-size: 10px;
          }
        }
      }
    }
  }
}

.popup_win{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 100;
  .bglayer{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.2);
    transition: all .2s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }
  .signin_win{
    display: block;
    position: relative;
    width: 300px;
    height: auto;
    min-height: 100px;
    border-radius: 10px;
    background-color: rgba(255,255,255,.82);
    border: 1px solid rgba(255,255,255,.7);
    backdrop-filter: $blur;
    padding: 15px;
    box-shadow: 0px 10px 30px rgba(0,0,0,.35),
                0px 0px 1px 1.5px rgba(64,64,64,.15);
    transition: all .17s;
    transition-delay: .1s;
    animation: hidepopup .17s;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    h4{
      color: #000;
      text-align: center;
      margin: 0;
      font-size: 20px;
    }
    span{
      display: block;
      font-size: 12px;
      color: #000;
      text-align: center;
    }
    #loginform{
      input{
        width: 100%;
        border-radius: 6px;
        &[type="text"],
        &[type="password"]{
          padding: 4px 10px;
        }
        &::placeholder{
          font-size: 14px;
        }
      }
    }
    .create_account{
      display: block;
      text-align: center;
      a{
        font-size: 12px;
        font-weight: 500;
        color: $blue;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    button.close_win{
      position: absolute;
      display: inline-block;
      border: none;
      border-radius: 100px;
      width: 12px;
      height: 12px;
      top: 6px;
      left: 6px;
      padding: 0;
      cursor: pointer;
      background-color: #ff5f5f;
      z-index: 10;
      &:hover{
        background-color: #e74444;
      }
    }
    .browse_coockie_policy{
      display: block;
      position: relative;
      margin-top: 10px;
      font-size: 12px;
      text-align: center;
      .read_cpolicy_text{
        display: none;
        text-align: left;
        padding: 10px;
        border: 1px solid #ccc;
        height: 200px;
        overflow-y: auto;
        background-color: rgba(255,255,255,.7);
        margin-top: 5px;
        border-radius: 6px;
        &.reading{
          display: block;
        }
      }
    }
    .submit_coockie_policy{
      margin-top: 5px;
      .button{
        display: block;
        padding: 10px;
      }
    }
    .popup_win_ico{
      text-align: center;
      &.large{
        text-align: center;
        img{
          width: auto;
          height: 60px;
        }
      }
    }
    .confiramtion_buttons{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      a{
        font-size: 13px;
        padding: 8px;
        margin: 5px;
        text-decoration: none;
        &.cancel{
          background-color: rgba(0,0,0,.1);
          color: #777;
          &:hover{
            background-color: rgba(0,0,0,.15);
          }
        }
      }
    }
  }
  &.active{
    visibility: visible;
    .bglayer{
      opacity: 1;
      visibility: visible;
    }
    .signin_win{
      animation: showpopup .17s;
      animation-fill-mode: forwards;
      visibility: visible;
      opacity: 1;
    }
  }
}

/* Site Main */
.site-main{
  width: calc(100% - 64px);
  margin-left: 64px;
  padding: 70px 20px 20px 20px;
  color: #000;
  h1.get-account-title{
    text-align: center;
  }
  ul.products-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
}

.get_account_form{
  display: block;
  position: relative;
  text-align: center;
  margin-top: 40px;
  form{
    display: inline-block;
    width: 400px;
    max-width: 100%;
    font-size: 12px;
    input[type="email"]{
      width: 100%;
      padding: 4px 10px;
    }
  }
}

/* Keyframes */
@keyframes showpopup{
  0%{
    transform: scale(0);
  }
  80%{
    transform: scale(1.07);
  }
  100%{
    transform: scale(1);
  }
}

/* 404 Error - not found */
.error-404.not-found{
  text-align: center;
}

/* Unsupported browsers */
.unsupported_browser{
  display: block;
  position: sticky;
  width: calc(100% - 64px);
  height: auto;
  padding: 10px 20px;
  bottom: 0;
  left: 0;
  background-color:#d04e4e;
  color: #fff;
  margin-left: 64px;
  text-align: center;
  font-size: 12px;
  z-index: 10;
}

/* Quick cart layer */
.quick_cart_layer{
  display: block;
  position: fixed;
  width: 260px;
  height: 100%;
  margin-left: 64px;
  background-color: #fff;
  top: 64px;
  left: 0px;
  transition: all .3s;
  transform: translateX(-100%);
  padding: 20px 10px;
  border-left: 1px solid #f1f1f1;
  overflow-y: auto;
  z-index: 10;
  &.active{
    transform: translateX(0%);
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
  }
  h4{
    margin-top: 0;
  }
  .qcart_item{
    display: block;
    position: relative;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #f1f1f1;
    margin-bottom: 10px;
    &:hover{
      background-color: rgba(0,0,0,.02);
    }
    a{
      display: flex;
      flex-wrap: wrap;
      text-decoration: none;
      .icon{
        width: 40px;
        height: 40px;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 4px;
        }
      }
      .meta{
        width: calc(100% - 40px);
        padding-left: 5px;
        h4{
          display: block;
          width: 100%;
          font-size: 13px;
          font-weight: 500;
          line-height: 15px;
          margin: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        p{
          margin: 2px 0 0;
          font-size: 11px;
          font-weight: 600;
          color: #000;
        }
      }
    }
  }
  .qcart_goto{
    display: block;
    text-align: center;
    a{
      display: block;
    }
  }
}

.qcart_cleared{
  display: inline-block;
  position: fixed;
  bottom: 16px;
  right: 15px;
  width: 300px;
  height: auto;
  padding: 20px;
  border-radius: 6px;
  background-color: rgba(255,255,255,.8);
  backdrop-filter: $blur;
  box-shadow: 0px 5px 10px rgba(0,0,0,.15);
  color: #fff;
  transition: all .3s;
  z-index: 99;
  &.hidden{
    transform: translateY(calc(100% + 40px));
    opacity: 0;
  }
  p{
    margin: 0;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
  }
  button.close_tooltip{
    display: inline-block;
    position: absolute;
    padding: 0;
    border: none;
    font-size: 10px;
    border-radius: 100px;
    background-color: rgba(0,0,0,.1);
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 9px;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 2;
    &:hover{
      background-color: rgba(0,0,0,.15);
    }
  }
}

@keyframes hidepopup{
  0%{
    transform: scale(1);
  }
  80%{
    transform: scale(1.07);
  }
  100%{
    transform: scale(0);
  }
}

ul.account_nav{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.start_saler{
  display: block;
  margin-top: 15px;
  .already_sent_request{
    display: block;
    p{
      display: inline-block;
      font-size: 13px;
      font-weight: 500;
      padding: 10px;
      border-radius: 4px;
      background-color: #ffedda;
      color: #c78948;
    }
    &.approved p{
      background-color: #daffe2;
      color: #48c76b;
    }
  }
  span.manu_badge{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: rgba(0,0,0,.05);
    font-weight: 600;
    img{
      position: relative;
      width: auto;
      height: 20px;
      top: 2px;
    }
  }
}

.button-light{
  display: inline-block;
  text-decoration: none;
  background-color: rgba(0,0,0,.05);
  border-radius: 6px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 600;
  &:hover{
    text-decoration: none;
    background-color: $blue;
    color: #fff;
  }
}

.formcontrol{
  display: block;
  width: 100%;
  input[type="text"]{
    width: 100%;
    border-radius: 6px;
    font-size: 14px;
    padding: 5px 10px;
  }
  textarea{
    border-radius: 6px;
    resize: none;
    font-size: 14px;
    padding: 5px 10px;
  }
  select{
    width: 100%;
    border-radius: 6px;
    padding: 5px 10px;
  }
}

body.woocommerce-account h1.entry-title{
  text-align: center;
}

.woocommerce-account .woocommerce-MyAccount-navigation{
  float: none;
  width: 100%;
  ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    li{
      margin: 0 5px;
      position: relative;
      span.new_message{
        position: absolute;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 100px;
        background-color: #f00;
        animation: new_message 1s infinite;
        top: 5px;
        right: 5px;
        z-index: 10;
      }
      a{
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;
        color: #777;
        border-radius: 6px;
        &:hover{
          background-color: rgba(0,0,0,.02);
          color: $blue;
        }
      }
      &.is-active a{
        background-color: $blue;
        color: #fff;
      }
    }
  }
  .start_saler{
    text-align: center;
  }
}
.woocommerce-account .woocommerce-MyAccount-content{
  float: none;
  margin: 40px auto 0;
  width: 960px;
  max-width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0,0,0,.03);
  .woocommerce-form-row,
  .woocommerce-address-fields__field-wrapper{
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"]{
      width: 100%;
      padding: 8px 10px;
      border-radius: 4px;
      border: none;
      box-shadow: 0px 0px 0px 1px #ccc;
      &:focus{
        box-shadow: 0px 0px 0px 2px $blue;
      }
    }
    span.selection{
      display: block;
      margin-top: 0;
      span{
        display: block;
        position: relative;
        width: 100%;
        padding: 17px 10px;
        border-radius: 4px;
        border: none;
        margin-top: 0;
        box-shadow: 0px 0px 0px 1px #ccc;
        span{
          position: absolute;
          border: none;
          box-shadow: none;
          padding: 0;
          width: 100%;
          height: 100%;
          top: 1px;
          left: 10px;
          z-index: 1;
        }
      }
    }
    span{
      display: inline-block;
      margin-top: 10px;
      &.password-input,
      &.woocommerce-input-wrapper{
        display: block;
      }
      &.show-password-input{
        margin-top: -5px;
      }
    }
  }
  fieldset{
    border: none;
    padding: 0;
  }
  p.submit-form{
    display: block;
    text-align: center;
  }
}

body.woocommerce-account button.woocommerce-Button.button,
body.woocommerce-account button.button,
body.woocommerce-account a.woocommerce-Button.button{
  border: none;
  width: auto;
  max-width: 100%;
  text-align: center;
  background-color: $blue;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  float: none;
  &:hover{
    background-color: $bluehov;
    color: #fff;
  }
}

.select2-container--open .select2-dropdown{
  top: -27px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
  left: calc(100% - 30px);
}

.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before{
  display: none;
}

/* Messenger */
.messenger_header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  a{
    margin-left: 20px;
    font-size: 14px;
  }
}
.messenger_row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 20px;
  &.compose{
    justify-content: center;
  }
  .senderlist{
    display: block;
    width: 360px;
    height: 100%;
    min-height: 500px;
    max-height: 500px;
    background-color: rgba(0,0,0,.03);
    overflow-y: auto;
    p{
      padding: 0 20px;
    }
    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
      li{
        position: relative;
        border-bottom: 1px solid rgba(0,0,0,.03);
        overflow: hidden;
        span.new_message{
          position: absolute;
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 100px;
          background-color: #f00;
          animation: new_message 1s infinite;
          top: 5px;
          right: 5px;
          z-index: 10;
          &.unread{
            background-color: transparent;
            animation: none;
            width: 20px;
            height: 20px;
            background-color: rgb(184, 184, 184);
            border-radius: 0px;
            right: -10px;
            top: -10px;
            transform: rotate(45deg);
          }
          &.read{
            background-color: transparent;
            animation: none;
            width: 20px;
            height: 20px;
            background-color: rgb(76, 212, 122);
            border-radius: 0px;
            right: -10px;
            top: -10px;
            transform: rotate(45deg);
          }
        }
        a{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          text-decoration: none;
          font-size: 13px;
          color: #000;
          span{
            font-size: 11px;
            color: #bebebe;
          }
          &.new_message{
            background-color: #fff;
            font-weight: 600;
            color: $blue;
          }
          &.active{
            background-color: $blue;
            color: #fff;
            font-weight: 600;
            &:hover{
              background-color: $blue;
              color: #fff;
              span{
                color: #fff;
              }
            }
            span{
              color: #fff;
            }
          }
          &:hover{
            background-color: rgba(0,0,0,.03);
            span{
              color: #777;
            }
          }
        }
        p.deleted_message{
          display: block;
          position: relative;
          margin: 10px 0;
          font-size: 13px;
          a{
            display: inline-block;
            border-radius: 100px;
            font-size: 14px;
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: rgba(0,0,0,.05);
            top: 0px;
            right: 10px;
            transition: all .1s;
            opacity: 0;
            text-align: center;
            line-height: 18px;
            padding: 0;
            z-index: 1;
            &:hover{
              background-color: rgba(0,0,0,.1);
            }
          }
        }
        &.deleted{
          background-color: rgb(253, 224, 224);
        }
        &:hover p a{
          opacity: 1;
        }
      }
    }
  }
  .messenger_win{
    width: calc(100% - 360px);
    border: 1px solid rgba(0,0,0,.05);
    .message_body{
      &.active{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        height: 100%;
      }
      .message_head{
        width: 100%;
        .message_info{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          background-color: rgba(0,0,0,.05);
          padding: 10px;
          font-size: 13px;
          span.sender_name{
            color: $blue;
          }
          span.sender_date{
            color: #999;
          }
        }
        .delete_message{
          a{
            display: inline-block;
            svg{
              width: 16px;
              height: 16px;
              path{
                fill: rgb(184, 23, 23);
              }
              &:hover path{
                fill: #f00;
              }
            }
          }
        }
        .message_content{
          display: block;
          position: relative;
          padding: 0 20px 20px;
          height: 300px;
          overflow-y: auto;
          white-space: pre-line;
        }
      }
      .message_footer{
        width: 100%;
        padding: 20px;
        .respond{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          .textarea{
            width: calc(100% - 60px);
            position: relative;
            span.sending_message_badge{
              position: absolute;
              bottom: -14px;
              left: 0;
              font-size: 12px;
              animation: sending_message_badge 1s infinite;
              opacity: 0;
              transform: all .3s;
              z-index: 10;
              &.show{
                opacity: 1;
              }
            }
            textarea{
              padding: 10px;
              resize: none;
              font-size: 14px;
              white-space: pre-wrap;
            }
          }
          .send_button{
            display: flex;
            justify-content: center;
            width: 60px;
            text-align: center;
            button{
              display: flex;
              flex-wrap: wrap;
              align-content: center;
              justify-content: center;
              border: none;
              padding: 0;
              width: 42px;
              height: 42px;
              background-color: $blue;
              border-radius: 100px;
              cursor: pointer;
              svg{
                width: 20px;
                height: 20px;
                polygon{
                  fill: #fff;
                }
              }
              &:hover{
                background-color: $bluehov;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes new_message {
  0%{
    box-shadow: 0px 0px 6px #f00;
  }
  50%{
    box-shadow: 0px 0px 0px #f00;
  }
  100%{
    box-shadow: 0px 0px 6px #f00;
  }
}

@keyframes sending_message_badge {
  0%{
    color: #999;
  }
  50%{
    color: #444;
  }
  100%{
    color: #999;
  }
}

.mailbox_menu{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    border-radius: 6px;
    margin: 0;
    padding: 5px;
    background-color: rgba(0,0,0,.03);
    width: 300px;
    li{
      font-size: 0;
      width: 50%;
      text-align: center;
      a{
        display: block;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 10px;
        color: #555;
        border-radius: 6px;
        text-decoration: none;
        &.active{
          background-color: #fff;
          color: $blue;
        }
      }
    }
  }
  a.compose_message{
    display: inline-block;
    width: auto;
    text-decoration: none;
    margin-top: 0;
    margin-left: 10px;
  }
}

.compose_message_form{
  display: block;
  position: relative;
  width: 400px;
  max-width: 100%;
  height: auto;
  label{
    display: block;
    input{
      width: 100%;
      padding: 6px 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
    }
  }
  h5{
    margin-bottom: 0px;
  }
  .compose_user_items{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    input{
      width: 100%;
      padding: 6px 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
    }
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 150px;
      overflow: auto;
      li{
        display: block;
        position: relative;
        a{
          display: block;
          text-decoration: none;
          font-size: 14px;
          padding: 6px 10px;
          border: 1px solid $blue;
          border-radius: 6px;
          margin-top: 10px;
          &:hover{
            background-color: $blue;
            color: #fff;
          }
        }
      }
    }
  }
  p.formcontrol{
    display: block;
    &.submit{
      text-align: right;
      button{
        display: inline-block;
        width: auto;
        margin-top: 0;
      }
      .button.cancel{
        background-color: rgba(0,0,0,.05);
        color: #999;
        text-decoration: none;
        padding: 8px 10px;
        margin-top: 0;
        &:hover{
          background-color: rgba(0,0,0,.1);
        }
      }
    }
  }
  .loading_spiner{
    display: none;
    position: relative;
    text-align: center;
    &.show{
      display: block;
    }
    img{
      width: 26px;
      height: auto;
    }
  }
  .messages_alerts{
    display: block;
    position: relative;
    .message{
      display: none;
      font-size: 14px;
      padding: 6px 10px;
      border-radius: 6px;
      &.sent{
        background-color: rgb(189, 245, 211);
      }
      &.notsent{
        background-color: rgb(245, 206, 206);
      }
      &.show{
        display: block;
      }
    }
  }
}

body.woocommerce-order-received article.status-publish{
  margin: 0 auto;
  max-width: 100%;
  width: 960px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 80px;
  box-shadow: 0px 5px 15px rgba(0,0,0,.03);
}

.single_product_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  .product_card_display{
    width: 500px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,.04);
    margin-bottom: 30px;
    img.cover{
      border-radius: 8px;
    }
    h4{
      text-align: center;
      font-size: 24px;
    }
  }
  .single_product_summary{
    width: calc(100% - 520px);
    margin-top: 0;
    .product_card{
      display: block;
      position: relative;
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0px 5px 15px rgba(0,0,0,.04);
      margin-bottom: 30px;
      h2.replyform_title{
        font-weight: 500;
      }
      textarea{
        width: 100%;
        height: 100px;
        padding: 10px;
        resize: none;
      }
    }
  }
}
.product_card.reviews{
  .reviews_list{
    display: block;
    position: relative;
    h3.reviews_title{
      display: block;
      margin-top: 5px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 24px;
    }
    .review_item{
      display: flex;
      flex-wrap: wrap;
      margin-top: 15px;
      width: 100%;
      .reviewer_photo{
        width: 80px;
        height: auto;
        text-align: center;
        img{
          border-radius: 100px;
        }
      }
      .reviewer_content{
        width: calc(100% - 80px);
        background-color: #F8F8F8;
        padding: 15px;
        border-radius: 6px;
        h4.author{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          font-weight: 500;
          margin: 0;
          font-size: 15px;
          line-height: 15px;
        }
        span.date{
          display: block;
          font-size: 11px;
          color: #ccc;
          line-height: 12px;
          border-bottom: 1px solid rgba(0,0,0,.05);
          padding-top: 6px;
          padding-bottom: 8px;
          margin-bottom: 10px;
        }
        p{
          font-weight: 300;
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }
  form#commentform .form-submit input#submit.submit{
    color: $blue;
    font-weight: 500;
    background-color: rgba(0,0,0,.05);
    border-radius: 6px;
    &:hover{
      background-color: rgba(0,0,0,.07);
    }
  }
  .sending_preloader{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: all .2s;
    opacity: 0;
    &.show{
      opacity: 1;
    }
    img{
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    span{
      font-size: 12px;
      animation: sending_message_badge 1s infinite;
    }
  }
}

.product_details{
  h1{
    font-weight: 500;
    margin-bottom: 10px;
  }
  .manufacturer{
    display: block;
    position: relative;
    font-size: 13px;
    font-weight: 400;
  }
}

.product_meta_info{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  .product_rating{
    width: 150px;
    height: auto;
    .rating_count{
      display: inline-block;
      text-align: center;
      .rating_stars{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        img{
          width: 12px;
          height: 12px;
          margin: 0 2px;
        }
      }
      .rating_circle{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 80px;
        height: 80px;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        font-weight: 600;
        svg{
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .product_info{
    width: calc(100% - 150px);
    font-size: 14px;
    padding-right: 80px;
    .product_price_and_buy{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 20px;
      .product_price{
        margin-right: 25px;
        span.product_price_range{
          display: inline-block;
          font-size: 24px;
          font-size: 500;
          color: #4CE426;
        }
      }
    }
  }
}

#gray_button,
.gray_button{
  display: inline-block;
  text-decoration: none;
  color: #007bec;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 6px 20px;
  &:hover{
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.woocommerce .woocommerce-breadcrumb{
  margin-top: 20px;
}

.rate_product_please{
  display: block;
  position: relative;
  h5{
    margin-bottom: 5px;
  }
  img{
    width: 20px;
    height: 18px;
    margin-right: 1px;
    cursor: pointer;
    filter: grayscale(100%);
    opacity: .3;
    transition: all .05s;
    &:hover,
    &.choosed,
    &.hovered{
      filter: grayscale(0%);
      opacity: 1;
    }
  }
}

.comments_closed{
  display: block;
  margin-top: 20px;
  height: auto;
}

.manu_hero_banner{
  display: block;
  position: relative;
  top: 64px;
  left: 64px;
  width: calc(100% - 64px);
  height: 500px;
  background-color: rgba(0,0,0,.05);
}

.add_page{
  display: block;
  position: relative;
  h1.page_title,
  h1.page-title{
    text-align: center;
  }
  .add_data{
    display: block;
    position: relative;
    width: 960px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0,0,0,.03);
    margin: 0 auto;
    .account_data{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      align-items: center;
      .account_data_column{
        width: 50%;
        text-align: center;
        font-size: 26px;
        font-weight: 300;
        span.add_money_titl{
          display: block;
          text-align: center;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 5px;
        }
        span.moneys{
          display: inline-block;
          border-radius: 6px;
          background-color: rgba(0,0,0,.03);
          font-weight: 400;
          padding: 5px 30px;
          &.earns{
            color: $green;
          }
        }
      }
    }
  }
  p{
    text-align: center;
  }
  h2{
    text-align: center;
  }
  form{
    display: block;
    position: relative;
    .formcontrol{
      display: block;
      position: relative;
      margin-bottom: 15px;
      h4{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        .add_data_half{
          span{
            font-weight: 400;
            font-size: 12px;
            display: inline-block;
            margin-left: 6px;
          }
        }
        a{
          font-size: 14px;
          font-weight: 400;
          color: $error;
        }
      }
      .banner_img{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        height: 200px;
        background-color: rgba(0,0,0,.03);
        border-radius: 10px;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        p{
          width: 100%;
          display: block;
          font-size: 38px;
          color: #d3d3d3;
          margin: 0;
        }
        span{
          width: 100%;
          display: block;
          text-align: center;
          color: #c7c7c7;
        }
        input{
          position: absolute;
          top: 0;
          left: 0;
          cursor: pointer;
          width: 100%;
          height: 100%;
          opacity: 0;
          border-radius: 10px;
          z-index: 2;
        }
        &:hover{
          background-color: rgba(0,0,0,.05);
        }
        img{
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }
      .photo_img{
        display: block;
        position: relative;
        text-align: center;
        .photo_container{
          display: inline-block;
          position: relative;
          margin-top: 10px;
          width: 150px;
          height: 150px;
          border-radius: 100px;
          background: url('../images/no-avatar.svg') no-repeat center;
          background-size: cover;
          overflow: hidden;
          border: 10px solid rgba(0,0,0,.1);
          input{
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            width: 100%;
            height: 100%;
            opacity: 0;
            border-radius: 100px;
            z-index: 2;
          }
          &:hover{
            opacity: .8;
          }
          img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
            z-index: 1;
          }
        }
      }
      .text_input{
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        padding: 5px 10px;
      }
    }
    .sending_preloader{
      display: block;
      opacity: 0;
      img{
        width: 22px;
        height: 22px;
      }
      &.show{
        opacity: 1;
      }
    }
  }
}